.newsletter-container {
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    background: #fcfcfc;
    border-top: 1px solid #e2e2e2;
    padding-top: 25px;
}

.newsletter-container p {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.newsletter-container-headline {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
    text-align: left;
    margin-right: 15px;
}

.newsletter-container-input-area {
    display: inline-block;
    position: relative;
    width: 400px;
}


.newsletter-container-input-area input {
    border-radius: 5px;
    border: 1px solid #9c9c9c;
    height: 38px;
    padding: 0 6px;
    width: 100%;
    margin-bottom: 12px;
}

.newsletter-container .btns {
    display: inline-block;
}

.newsletter-container .btns .my-btn {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    background: #62bb46;
    color: #fff;
    border: none;
    padding: 0px 26px 0 15px;
    height: 37px;
    width: 100%;
    font-size: 16px;
}

.newsletter-form {
    margin-top: 8px;
}


@media (max-width: 61.24em) {
    .newsletter-container {
        padding: 12px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .newsletter-form {
        height: auto;
        line-height: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        padding: 12px;
        margin-top: 0px;
    }
    .newsletter-container-headline {
        -webkit-box-flex: 1;
        -ms-flex: 1 100%;
        flex: 1 100%;
        margin-bottom: 6px;
    }

    .newsletter-container-input-area {
        margin-top: 0px;
        width: 300px;
        -webkit-box-flex: 2;
        -ms-flex: 2 50%;
        flex: 2 50%;
    }

    .newsletter-container-input-area input {
        display: block;
    }

    .newsletter-container .btns {
        width: 100%;
    }

    .newsletter-container .btns button {
        font-size: 12px;
        padding: 0;
    }

}