html, body{
	margin: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.product-carasoul{
		flex-basis: calc(100% - 300px);
		margin-left: auto;
	}
}

@media only screen and (max-width: 767px){
	.navibar-header {
    z-index: 200;
	}
}

@media only screen and (max-width: 980px){
	.product-carasoul{
		margin-left: 0;
	}
	.nav-filter{
    grid-template-columns: 1fr 1fr;
	}
}
