.old-price {
    text-decoration: line-through;
}

.product-carasoul {
    color: #747472;
    display: block;
}

.product-carasoul p {
    margin-bottom: 18px;
    color: #8d92a0;
    font-size: 14px;
}


.center_column p {
    font-size: 14px;
}

.center_column ol {
    font-size: 14px;
}

.center_column ul {
    font-size: 14px;
}

h2.cat-title {
    font-weight: bold;
}