@use "vars";


.emptycart-warning {
    padding: 15px;
    border: 1px solid #ccc;
    margin: auto;
}


.freeshippingtemptation {
    padding: 18px 12px;
    margin-bottom: 10px;
    background-color: #ebf0f4;
    color: #2f5fb4;
}

.freeshippingtemptationtext {
    font-size: 14px;
    vertical-align: top;
}

.freeshippingtemptation .fa-info-circle {
    font-size: 20px;
}

.checkout {
    background-color: vars.$checkoutBackgroundColor;
    width: auto;
    height: auto;
}

.cart-content {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
}

.cart-panel {
    flex-grow: 1;
    height: 100%;
    margin-right: 40px;
    border-radius: 3px;
    background: vars.$panelBackgroundColor;
    border: 1px solid vars.$panelBorderColor;
    padding: 12px;
}


.cart-panel-title {
    border-bottom: 1px solid vars.$panelBorderColor;
    padding-bottom: 10px;
}


.cart-panel-title h1 {
    color: vars.$fontColorHeading;
    font-size: vars.$fontSizeHeading;
    font-weight: vars.$fontWeightNormal;
}

.cart-items {
    margin-top: 10px;
    display: block;
    /*grid-template-columns: 120px 1fr 104px 86px 55px;
    grid-row-gap: 10px;*/
}

.cart-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;

    &-img {
        flex: 0 0 120px;
    }

    &-description {
        width: 300px;
        padding-right: 8px;
        padding-left: 8px;
    }

    &-quantity {
        flex: 0 0 104px;
        margin-left: auto;
        text-align: center;
    }

    &-quantityMinus a {
        color: #9a9fad;
    }

    &-quantityValue {
        text-align: center;
        margin: 0 10px;
    }

    &-quantityValue input {
        padding: 3px 3px 3px 15px;
    }

    &-quantityValue input:disabled {
        -webkit-text-fill-color: vars.$fontColorGrayed;
        color: vars.$fontColorGrayed;
        text-align: center;
        width: 50px;
        opacity: 1;
        border: 1px solid #e5e5e5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &-quantityPlus a {
        color: vars.$fontColorGrayed;
    }

    &-pricing {
        flex: 0 0 86px;
        margin-left: auto;
        text-align: right;
    }

    &-compareAtPrice {
        text-decoration: line-through;
        color: vars.$fontColorGrayed;
        font-size: vars.$fontSizePricing;
    }

    &-price {
        font-size: vars.$fontSizePricing;
    }

    &-discount {
        font-size: 12px;
        margin-top: 5px;
    }

    &-volumeDiscount {
        color: vars.$fontColorVolumeDiscount;
    }

    &-regularDiscount {
        color: vars.$fontColorRegularDiscount;
    }

    &-remove {
        width: 55px;
        margin-left: auto;
        padding: 0 12px;
        text-align: center;
    }

    &-remove i {
        font-size: 15px;
    }

    &-remove a {
        color: vars.$fontColorGrayed;
    }

    &-remove i:hover {
        color: #e12727;
    }
}

.cart-sidebar {
    height: 100%;
    width: 400px;
    border-radius: 3px;
    background: vars.$panelBackgroundColor;
    border: 1px solid vars.$panelBorderColor;
    padding: 24px;

    &-title {
        border-bottom: 1px solid vars.$panelBorderColor;
        padding-bottom: 10px;
        color: vars.$fontColorHeading;
        font-size: vars.$fontSizeHeading;
        font-weight: vars.$fontWeightNormal;
    }

    &-cart-items {
        margin-top: 18px;
        border-bottom: 1px solid #e5e5e5;
    }

    &-cart-item {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 18px;
    }

    &-cart-item-img {
        margin-right: 15px;
    }

    &-cart-item-img img {
        width: 60px;
    }

    &-cart-item-img a {
    }

    &-cart-item-description {
        /* grid-column: 2;*/
        align-self: center;
    }

    &-cart-item-pricing {
        margin-left: auto;
        text-align: right;
    }

    &-cart-item-quantity {
        color: vars.$fontColorGrayed;
    }

    &-cart-item-compareAtPrice {
        text-decoration: line-through;
        color: vars.$fontColorGrayed;
        font-size: vars.$fontSizePricing;
        white-space: nowrap;
    }

    &-cart-item-price {
        font-size: vars.$fontSizePricing;
        white-space: nowrap;
    }

    &-total-items {
        margin-top: 18px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-total-item-text {
        flex-basis: 180px;
    }

    &-total-item-value {
        font-size: vars.$fontSizePricing;
        margin-left: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &-total-text {
        font-weight: vars.$fontWeightBold;
    }

    &-total-value {
        font-size: vars.$fontSizePricing;
        font-weight: vars.$fontWeightBold;
    }

    &-checkout {
        flex-basis: 100%;
    }

    &-checkout-btn {
        background: vars.$fontColorBtn;
        width: 100%;
        align-self: center;
        color: #fff;
        display: inline-block;
        padding: 12px;
        border: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
    }

    &-checkout-btn:hover {
        background: vars.$fontColorHover;
        cursor: pointer;
    }

    &-item-discount {
        color: vars.$fontColorRegularDiscount;
    }
}

.cart-divider {
    flex-basis: 100%;
    border-top: 1px solid vars.$panelBorderColor;
}

@media screen and (max-width: 990px) {
    .cart-panel {
        margin-right: 0px;
    }

    .cart-sidebar {
        margin-top: 30px;
        width: 100%;
    }

    .cart-content {
        display: grid;
    }

    .checkout-content {
        flex-direction: column;
    }

    .delivery-panel {
        margin-right: 0px;
    }
}
/*
@media screen and (max-width: 576px) {
    .cart-item {
        flex-wrap: wrap;
        justify-content: space-between;

        &-img {
            margin-bottom: 8px;
            flex-basis: 80px;
        }

        &-description {
            width: calc(100% - 80px);
        }

        &-quantity, &-pricing, &-remove {
            margin-left: inherit;
        }
    }
}
*/