@use "vars";

.delivery-panel {
    flex-grow: 1;
    height: 100%;
    margin-right: 40px;
    border-radius: 3px;
    background: vars.$panelBackgroundColor;
    border: 1px solid vars.$panelBorderColor;
    padding: 12px;
}

.delivery-panel-title {
    border-bottom: 1px solid vars.$panelBorderColor;
    padding-bottom: 10px;

    & h1 {
        color: vars.$fontColorHeading;
        font-size: vars.$fontSizeHeading;
        font-weight: vars.$fontWeightNormal;
    }
}

.delivery-panel-items {
    margin-top: 10px;
    /*  display: grid;
    grid-template-columns: 30px 65px 1fr 80px;
    grid-template-rows: auto;
    grid-row-gap: 15px; */
}

.delivery-panel-item {

    &-divider {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid vars.$panelBorderColor;
    }

    &-radio {
        margin-right: 16px;
    }

    &-company-logo {
        width: 48px !important;
        height: 32px !important;
        margin-right: 16px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        overflow: hidden;
    }

    &-company-logo img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
    }

    &-description {
        align-self: center;
    }

    &-price {
        text-align: center;
        margin-left: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.delivery-panel-pickup {
    margin-left: 29px;

    &-search {
        /*  display: grid;
    grid-template-columns: 150px 1fr 120px;
    grid-gap: 10px; */
        display: flex;

        & > * {
            flex-shrink: 0;
        }

        input.delivery-panel-pickup-search-postalCode {
            width: 150px;
        }

        input.delivery-panel-pickup-search-street {
            width: auto;
            flex-grow: 1;
            margin-right: 10px;
            margin-left: 10px;
        }

        .myBtn {
            width: 120px;
        }
    }

    &-shops {
        margin-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
        /*  display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 10px; */
        border: 1px solid vars.$panelBorderColor;
    }

    .shop-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
        flex-wrap: wrap;

        & + .shop-container {
            border-top: 1px solid #e5e5e5;
        }
    }

    &-radio {
        margin-right: 47px;
    }

    &-shop {
        grid-column: 2;
    }

    &-divider {
        grid-column: 1 / 3;
        border-bottom: 1px solid vars.$panelBorderColor;
    }
}

@media only screen and (max-width: 990px) {
    .delivery-panel {
        margin-right: 0px;
    }
}

.accordion_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.delivery-panel-pickup-radio,
.delivery-panel-pickup-shop,
.delivery-panel-pickup-shop label {
    cursor: pointer;
}

.delivery-panel-item.accordion_content:last-child {
    margin-bottom: 15px;
}

.delivery-panel-pickup-shops {
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
}

.delivery-panel-pickup-shops.active {
    max-height: 100vh;
}

.delivery-panel-tab > input[type="radio"] {
    float: left;
    margin-top: 13px;
    margin-right: 10px;
}

.delivery-panel-item.accordion_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.delivery-panel-pickup-radio {
    margin-right: 16px;
}

input[type="radio"]:checked + label + .delivery-panel-item.accordion_content {
    max-height: 100vh;
}

.delivery-panel-pickup .shop-container {
    padding: 4px 0;
}

.delivery-panel-pickup-shop label {
    display: block;
}

.shop-name-distance,
.shop-address {
    display: block;
}

.shop-name-distance {
    font-weight: bold;
}

.shop-address {
    color: #777;
    line-height: 1.5;
    font-size: .80rem;
}

.shop-container button {
    width: auto;
    height: 30px;
    margin-left: auto;
    padding: 0 12px;
    font-size: 13px;
    line-height: 100%;
    color: #333333;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #eee;
    transition: background-color 0.3s ease-in-out;
}

.shop-container button:hover {
    background-color: #eee;
}

.lds-dual-ring {
    display: none;
    margin: 0 auto;
    width: 35px;
    height: 35px;
}

.lds-dual-ring.visible {
    display: block;
}

.lds-dual-ring::after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #777777;
    border-color: #777777 transparent #777777 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.shop-opening-hours {
    width: 100%;
    max-height: 0;
    text-align: center;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.shop-opening-hours.visible {
    max-height: 100vh;
}

.shop-opening-hours h4,
.shop-opening-hours p {
    margin: 1rem 0;
}

.shop-opening-hours p {
    font-size: 10px;
}

.shop-opening-hours .myBtnPrimary {
    max-width: 220px; /*for old browsers*/
    max-width: fit-content;
    margin: 12px 0;
    padding: 12px;
    font-size: 13px;
    background-color: #fff;
    color: #333333;
    font-weight: bold;
    border: 1px solid #eeeeee;
    transition: background-color 0.3s ease-in-out;
}

.shop-opening-hours .myBtnPrimary:hover {
    background-color: #eeeeee;
}

.timetable {
    width: 250px;
    margin: 1rem auto 0 auto;
    cursor: default;
}

.timetable tr td:nth-child(1) {
    text-align: left;
}

.timetable tr td:nth-child(2) {
    text-align: right;
}

.timetable td, .timetable th {
    border-top: 1px solid #ddd;
    padding: 4px 2px;
    font-size: 13px;
}

.timetable th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #85c96f;
    color: white;
}

.delivery-panel-pickup-search {
    margin-top: 3px;
}

.delivery-panel-pickup-search {
    flex-wrap: wrap;
    max-height: 70vh;
    overflow: hidden;
}

.pickup-search-header {
    margin-bottom: 12px;
    flex-basis: 100%;
    text-align: center;
}

.pickup-search-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.pickup-search-hint {
    margin: 0;
    font-size: 13px;
    color: #777777;
}

.delivery-panel-pickup-search.hidden {
    max-height: 0;
}

.error {
    border: 1px solid red;
}

.error-message {
    display: none;
    margin-top: 0.5rem;
    color: red;
}

.error-message.visible {
    display: block;
}

@media screen and (max-width: 576px) {
    .delivery-panel-pickup-search > * {
        flex-basis: 100%;
    }

    .delivery-panel-pickup-search input[type="text"] {
        height: 37px;
    }

    .delivery-panel-pickup-search input.delivery-panel-pickup-search-street {
        margin: 8px 0;
    }
}

@media screen and (max-width: 414px) {
    .delivery-panel-pickup .shop-container {
        padding: 4px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .delivery-panel-pickup {
        margin-left: 15px;
    }
}