/// <reference path="vars.scss" />

.my {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.my-user-o {
    @include svg-icon("M1329 784q47 14 89.5 38t89 73 79.5 115.5 55 172 22 236.5q0 154-100 263.5t-241 109.5h-854q-141 0-241-109.5t-100-263.5q0-131 22-236.5t55-172 79.5-115.5 89-73 89.5-38q-79-125-79-272 0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5 198.5 40.5 163.5 109.5 109.5 163.5 40.5 198.5q0 147-79 272zm-433-656q-159 0-271.5 112.5t-112.5 271.5 112.5 271.5 271.5 112.5 271.5-112.5 112.5-271.5-112.5-271.5-271.5-112.5zm427 1536q88 0 150.5-71.5t62.5-173.5q0-239-78.5-377t-225.5-145q-145 127-336 127t-336-127q-147 7-225.5 145t-78.5 377q0 102 62.5 173.5t150.5 71.5h854z", 777777 );
}

.my-heart-o {
    @include svg-icon("M1664 596q0-81-21.5-143t-55-98.5-81.5-59.5-94-31-98-8-112 25.5-110.5 64-86.5 72-60 61.5q-18 22-49 22t-49-22q-24-28-60-61.5t-86.5-72-110.5-64-112-25.5-98 8-94 31-81.5 59.5-55 98.5-21.5 143q0 168 187 355l581 560 580-559q188-188 188-356zm128 0q0 221-229 450l-623 600q-18 18-44 18t-44-18l-624-602q-10-8-27.5-26t-55.5-65.5-68-97.5-53.5-121-23.5-138q0-220 127-344t351-124q62 0 126.5 21.5t120 58 95.5 68.5 76 68q36-36 76-68t95.5-68.5 120-58 126.5-21.5q224 0 351 124t127 344z", 777777 );
}

.my-heart-fav {
    width: 24px;
    height: 24px;
    transition: background-image 0.3s ease-in-out;
    @include svg-icon-fav("M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z", 777777);
}

.my-heart-fav.active,
.my-heart-fav:hover {
    @include svg-icon-fav("M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z", f35164);
}

.my-shopping-cart {
    @include svg-icon( "M704 1536q0 52-38 90t-90 38-90-38-38-90 38-90 90-38 90 38 38 90zm896 0q0 52-38 90t-90 38-90-38-38-90 38-90 90-38 90 38 38 90zm128-1088v512q0 24-16.5 42.5t-40.5 21.5l-1044 122q13 60 13 70 0 16-24 64h920q26 0 45 19t19 45-19 45-45 19h-1024q-26 0-45-19t-19-45q0-11 8-31.5t16-36 21.5-40 15.5-29.5l-177-823h-204q-26 0-45-19t-19-45 19-45 45-19h256q16 0 28.5 6.5t19.5 15.5 13 24.5 8 26 5.5 29.5 4.5 26h1201q26 0 45 19t19 45z", 777777 );
}

.my-check-square-o {
    @include svg-icon( "M1472 930v318q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-10 10-23 10-3 0-9-2-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-254q0-13 9-22l64-64q10-10 23-10 6 0 12 3 20 8 20 29zm231-489l-814 814q-24 24-57 24t-57-24l-430-430q-24-24-24-57t24-57l110-110q24-24 57-24t57 24l263 263 647-647q24-24 57-24t57 24l110 110q24 24 24 57t-24 57z", 777777 );
}

.arrow {
    border: solid #777;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;

    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}

.top-navigation {
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}


.header-top {
    max-width: 1200px;
    margin: 0 auto;

    .top-highlights {
        display: block;
        padding: 5px 0;
        width: 100%;
        text-align: center;

        @include respond(bigtablet) {
            display: none;
        }

        & span {
            @include svg-icon( "M1472 930v318q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-10 10-23 10-3 0-9-2-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-254q0-13 9-22l64-64q10-10 23-10 6 0 12 3 20 8 20 29zm231-489l-814 814q-24 24-57 24t-57-24l-430-430q-24-24-24-57t24-57l110-110q24-24 57-24t57 24l263 263 647-647q24-24 57-24t57 24l110 110q24 24 24 57t-24 57z", 777777 );
            background-size: auto 125%;
            font-size: 11px;
            padding: 0 11px 0 27px;
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
        }
    }

    .header-main {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10px;


        &-logo {
            width: 30%;
        }

        &-logo img {
            max-width: 100%;
        }

        &-logo-mobile {
            display: none;
        }

        &-search {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 10px;
            width: 100%;
            margin-right: 24px;
            height: 42px;
        }

        &-search > form {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
        }

        &-search .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        &-quickLinks {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: flex-end;
        }

        &-search-bar {
            border: 1px solid #ccc;
            width: 100%;
            border-radius: 5px;
            font-size: 16px;
            padding: 8px 12px 8px 36px;
            transition: all ease-in-out 0.3s;
            -moz-transition: all ease-in-out 0.3s;
            -o-transition: all ease-in-out 0.3s;
            -webkit-transition: all ease-in-out 0.3s;
            position: relative;
            height: 100%;
        }

        &-search-bar:focus {
            -webkit-box-shadow: 0 0 6px #a2a2a2;
            box-shadow: 0 0 6px #a2a2a2;
        }

        @include respond(bigtablet) {
            padding: 12px;
        }

            @include respond(tablet) {
                padding: 12px;

                &.mobile-view {
                    .header-main-quickLinks,
                    .header-main-logo {
                        display: none;
                    }

                    .close {
                        display: block;
                    }
                }

                &-search {
                    width: 100%;
                    padding: 0 !important;
                    display: block;
                    height: 34px !important;
                    margin: 0px;
                }

                &-logo-mobile {
                    display: block !important;
                }

                &-quickLinks {
                    .header-icon {
                        &__text {
                            display: none;
                        }
                    }

                    .header-profile {
                        padding: 0px;
                    }

                    .header-favourites {
                        padding: 0px;
                    }

                    .header-checkout {
                        padding: 0px;
                    }
                }

                &-logo {
                    width: 34px !important;
                    height: 34px;
                    margin-right: 18px;
                }

                &-logo img {
                    width: 34px;
                    height: 34px;
                    max-width: none;
                }

                &-logo-desktop {
                    display: none;
                }

                &-search > form {
                    margin: 0;
                    display: block;
                }

                & > a {
                    display: block;
                    text-align: center;
                }

                & > a img {
                    float: none;
                }

                &-search-bar {
                    display: block;
                }

                &-quickLinks {
                }
            }
        }

        .close {
            display: none;
            position: absolute;
            top: 8px;
            right: 10px;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: 0.2;

            &:hover {
                color: #000;
                text-decoration: none;
                cursor: pointer;
                opacity: 0.5;
            }
        }

        .header-icon {
            font-size: 11px;

            & i {
                display: block;
                text-align: center;
            }

            & > a {
                color: #777;
                font-weight: 600;
                text-align: center;
                width: 50px;
            }
        }

        .header-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 20px;
            font-size: 11px;
            justify-content: flex-end;
            padding-right: 22px;
            font-size: 11px;

            i {
                margin-bottom: 9px;
            }

            &:hover {
                a {
                    color: #f9bb3c;
                }

                i {
                    filter: invert(70%) sepia(22%) saturate(1141%) hue-rotate(2deg) brightness(116%) contrast(171%);
                }
            }
        }

        .header-favourites {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-right: 0;
            font-size: 11px;

            i {
                margin-bottom: 9px;
            }

            &__count {
                position: absolute;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: center;
                justify-content: center;
                top: 12px;
                left: 28px;
                height: 15px;
                width: 15px;
                border: 1px solid #ff4577;
                border-radius: 50%;
                font-weight: 600;
                background-color: #fff;
                color: #ff4577;
            }

            &:hover {
                i {
                    filter: invert(53%) sepia(67%) saturate(5520%) hue-rotate(320deg) brightness(104%) contrast(101%);
                }

                a {
                    color: #ff4577;
                }
            }
        }

        .header-checkout {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding-left: 24px;
            padding-right: 0;
            font-size: 11px;

            @include respond(tablet) {
                padding-left: 0px;

                &__count {
                    left: 35px !important;
                }
            }

            i {
                margin-bottom: 9px;
            }

            &:hover {
                a {
                    color: #76b82a;
                }

                i {
                    filter: invert(60%) sepia(55%) saturate(556%) hue-rotate(45deg) brightness(96%) contrast(89%);
                }
            }

            &__count {
                position: absolute;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: center;
                justify-content: center;
                top: 12px;
                left: 53px;
                height: 15px;
                width: 15px;
                border: 1px solid #76b82a;
                border-radius: 50%;
                font-weight: 600;
                background-color: #fff;
                color: #76b82a;
            }
        }
    }

    .navibar-header {
        .navibar-header-toggle {
            display: none;
        }

        @include respond(tablet) {
            position: relative;
            z-index: 200;

            .navibar-header-text {
                font-size: 9px;
                text-transform: uppercase;
                position: absolute;
                bottom: 5px;
                left: 9px;
                letter-spacing: -0.6px;
            }

            .navibar-header-toggle {
                width: 100%;
                padding: 0;
                margin: 0;
                border: none;
            }

            button.navibar-header-toggle {
                display: block;
                padding: 2px 10px;
                background-color: transparent;
                z-index: 101;
                cursor: pointer;

                &:focus,
                &:hover {
                }

                .icon-bar {
                    display: block;
                    width: 22px;
                    height: 3px;
                    border-radius: 1px;
                    background-color: #888;
                    transition: all 0.25s ease-in-out;
                    margin-bottom: 3px;

                    &:nth-child(2) {
                        width: 18px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            button.navibar-header-toggle {
                &.is-open {
                    .icon-bar:nth-child(1) {
                        -webkit-transform: rotate(45deg) translate(5px, 4px);
                        transform: rotate(45deg) translate(4px, 2px);
                    }

                    .icon-bar:nth-child(2) {
                        opacity: 0;
                    }

                    .icon-bar:nth-child(3) {
                        -webkit-transform: rotate(-45deg) translate(4px, -4px);
                        transform: rotate(-45deg) translate(7px, -5px);
                    }
                }
            }
        }
    }

    .navibar {
        /*background-color: #fff;
    background-image: none;
    background-repeat: no-repeat;
    border-color: #e7e7e7;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 5px rgb(0 0 0 / 8%);
    position: relative;
    height: 62px;*/


        @include respond(tablet) {
            position: absolute;
            width: 0;
            overflow: hidden;
            /*transform: translateX(100%);*/
            top: 12;
            right: 0;
            z-index: 100;
            background-color: #f8f8f8;
            margin: 0;
            height: auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, .3);
            overflow-y: auto;
            max-height: 100vh;
            transition: .2s all ease;
            margin-bottom: 0;
            border: none;

            &.is-open {
                /* transform: translateX(0);*/
                width: 90%;
            }

            .caret {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%) rotate(-90deg);
                transition: all 0.2s;
            }

            .dropdown-toggle-open .caret {
                transform: rotate(0);
            }

            &-container {
                padding-left: 0;
            }

            &-wrapper {
                ul.navibar-items {
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    margin-top: 10px;
                    padding-left: 0;

                    li.dropdown-item.current_page_item {
                        font-weight: bold;
                    }

                    li {
                        display: block;
                        width: 100%;
                        padding: 5px 0;
                        border-bottom: 1px solid #e7e7e7;
    

                        > a {
                            display: block;
                            font-size: 14px;
                            padding: 10px;
                        }


                        .current_page_item a {
                            font-weight: bold;
                        }

                        .dropdown-menu {
                            display: none;
                            width: 100%;
                            border: inherit;
                            box-shadow: none;
                            position: static;
                            padding-left: 10px;
                            background-color: #f8f8f8 !important;

                            > li {
                                position: relative;
                                display: block;

                                &:hover {
                                    .dropdown-menu {
                                        display: block;
                                    }
                                }

                                > a {
                                    color: #777;
                                    padding: 5px;

                                    &:hover {
                                        color: #333;
                                        background-color: transparent;
                                    }
                                }
                            }
                        }

                        .dropdown-menu-open {
                            display: block !important;
                        }
                    }
                }
            }
        }

        .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-top: 4px solid \9;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }

        .navibar-items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            float: none;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 15px 0;

            @include respond(tablet) {
                display: block;

                .navibar-items > li > a {
                    padding: 10px;
                }
            }
        }

        .navibar-items > li > a {
            padding: 5px;
        }

        .navibar-container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            height: 100%;

            .navibar-wrapper {
                height: 100%;
            }

            .navibar-items {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 15px 0;
                list-style: none;
                margin: 0;
                height: 100%;
                align-items: center;

                > li {
                    position: relative;
                    display: block;

                    > .dropdown-toggle-open + .dropdown-menu-open {
                        display: block;
                    }

                    > a {
                        color: #777;
                        padding: 5px;
                        white-space: nowrap;
                        word-break: normal;

                        &:hover {
                            color: #333;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .navi-footer-links {
        display: none;

        @include respond(tablet) {
            margin-bottom: 30px;
            display: block;

            ul {
                list-style-type: none;
                padding-left: 6px;
                margin-top: 0;

                li {
                    padding-bottom: 10px;

                    a {
                        color: #777;
                        white-space: nowrap;
                        word-break: normal;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .navibar-items {
            > li {
                > .dropdown-toggle {
                    border-bottom: 0px solid;
                    transition: border-width 0.1s steps(2) 0.25s;
                }

                > .dropdown-toggle:hover {
                    border-bottom: 1px solid #333;
                    transition-delay: 0s;
                }

                > .dropdown-toggle-open {
                    border-bottom: 2px solid #333 !important;
                    transition-delay: 0;
                }
            }
        }

        .dropdown-menu::before {
            content: "";
            position: absolute;
            top: -4px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }

        .dropdown-menu {
            transition: display 0s step(1) 2s;
            display: none;
            margin: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
            box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
            margin-top: 10px;

            li > a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: 400;
                line-height: 1.42857143;
                color: #333;
                white-space: nowrap;

                &:hover {
                    background-color: #e8e8e8;
                    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
                    background-repeat: repeat-x;
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .navibar-header {
            z-index: 200;
        }
    }
