@import 'vars';

[data-toggle="minicart"]:hover{
  .minicart{
    max-height: 80vh;
  }
}

.minicart{
  position: absolute;
  top: 100%;
  right: 8px;
  width: 300px;
  max-height: 0;
  z-index: 15;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
  * {
    color: $fontColorStandard;
  }

  *, *::before, *::after{
    margin: 0;
    padding: 0;
  }

  &.active{
    max-height: 80vh;
  }
}

.minicart-wrapper{
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.minicart-header{
  display: flex;
  height: 48px;
}

.minicart-header{
  padding-top: 8px;
}

.minicart-footer{
  padding-top: 16px;
}

.minicart-product-card{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 11px;
  border-bottom: 1px solid #ccc;
}

.minicart-title{
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.minicart-image img{
  width: 80px;
}

.minicart-details{
  width: 150px;
  margin-right: 8px;
  margin-left: 8px;

  &__title{
    display: block;
    margin-bottom: 8px;
  }

  &__brand, &__name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__name{
    font-size: 13px;
  }

  &__meta{

    dt, dd{
      display: inline-block;
    }
  }
}

.minicart-price{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__regular, &__discount{
    font-weight: 900;
    text-align: right;
    white-space: nowrap;
  }

  &__discount {
    *{
      display: block;
    }

    .current{
      font-weight: 900;
      color: $fontColorRegularDiscount;
    }

    .regular{
      font-weight: normal;
      text-decoration: line-through;
    }
  }
}

.minicart-summary{
  width: 100%;
  margin-bottom: 8px;
  vertical-align: middle;
  font-size: 12px;
  tr:last-child{
    font-weight: 900;
  }

  &__name{
    span{
      font-weight: normal;
      color: #777;
    }
  }

  &__value{
    text-align: right;
  }

  .cart-sidebar-checkout-btn{
    text-align: center;
  }
}

