.autocomplete-suggestions .productImg {
    height: 40px;
    width: 40px;
    padding: 1px;
    max-width: 40px;
    flex: 1 0 auto;
    border: 1px solid #f1f1f1;
    margin-right: 12px;
    overflow: hidden;
    border-radius: 3px;
    background: #fff;
}

.autocomplete-suggestions * {
    box-sizing: border-box;
}

.autocomplete-suggestions .productFull {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    letter-spacing: -.15px;
}

.autocomplete-suggestions .productInfo {
    padding-right: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 100%;
}

.autocomplete-suggestions .productText {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.autocomplete-suggestions .productName {
    font-size: 13px;
    /*font-weight: 600;*/
}

.autocomplete-suggestions .productPrice {
    /*font-weight: 600;*/
    flex: 1 0 auto;
}

.autocomplete-suggestions .productPrice span {
    font-weight: 400;
    font-size: 10px;
}

.autocomplete-suggestions .productCategory {
    font-size: 11px;
    color: #a9adb7;
}


.autocomplete-suggestions .showAll {
    margin-left: 52px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #5b5f6c;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

.autocomplete-suggestions .default {
    display: block;
    text-decoration: none;
    color: #a9adb7;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
}

.autocomplete-suggestions .default span {
    color: #5b5f6c;
    font-weight: 600;
}

.autocomplete-suggestions .suggestions__default {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
}

.autocomplete-suggestions {
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: auto;
    border-radius: 3px;
    box-shadow: 0 15px 35px rgba(0,0,0,.08), 0 5px 15px rgba(0,0,0,.1);
    border-top: 1px solid #f4f4f4;
    background-color: #fff;
}

.autocomplete-selected .productFull,
.autocomplete-selected .productCategory,
.autocomplete-selected .showAll,
.autocomplete-selected .default,
.autocomplete-selected .default span {
    color: #fff;
}



.autocomplete-suggestion {
    padding: 2px 5px;
    overflow: hidden;
    max-height: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    padding: 3px 18px 3px 12px;
    display:block;
}

.autocomplete-selected {
    background: linear-gradient(to right bottom, #00c6ff, #0073ff);
    color: #fff;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.autocomplete-no-suggestion {
    font-weight: 300;
    padding: 3px 18px;
    color: #5b5f6c;
    font-size: 14px;
    font-style: italic;
}

/*.autocomplete-suggestions {
    left: -50px;
    right: -50px;
    width: auto !important;
}

@media (max-width: 768px) {
    .autocomplete-suggestions {
        left: 0;
        right: 0;
        width: 100% !important;
    }
}*/